.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  right: 0;
  margin-top: 64px;
  position: absolute;
  top: 0;
  transition: transform;
  animation: rotation 20s linear infinite;
}
